body {
   background-color: black;
   line-height: 34px;
}

* {
   box-sizing: border-box;
}

#masthead {
   display: grid;
   position: static;
   z-index: 99;
   background-color: grey;
   color: rgb(0, 0, 0);
   justify-content: space-around;
   margin: auto;
   width: 100%;
   padding-bottom: 5px;
   border-bottom: 2px solid #ccc;
   overflow: auto;

}

nav {
  display: inline;
  justify-content: space-between;
}

nav a {
  padding-left: 50px;
  padding-right: 50px;
  margin-left: 15px;
  margin-right: 15px;
  line-height: 18px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.container {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.col-sm-2 {
   font-weight: 400px;
   margin-top: 40px;
}

.col-sm-3 {
   align-self: center;
}

img {
   height: 400px;
   width: 300px;
   border-radius: 50%;
}

footer {
  padding: 30px 0;
  clear: both;
  font-size: 12px;
  color: #ccc;
  text-align: center;
  background: grey;
  height: 50px;
}

#main-container {
  background-color: rgb(255, 255, 255);
  padding-top: 30px;
  min-height: calc(100vh - 70px);
}

.main-section {
  float: left;
  width: 100%;
  max-width: 960px;
  padding: 20px;
  margin: 0 0 10px;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 3px solid #ddd;
}

/* portfolio page */

.work {
  position: relative;
  justify-content: space-between;
  float: left;
  width: 274px;
  margin: 20px 0 10px;
  overflow: auto;
}

.work img {
   height: 150px;
   width: 150px;
}

.work h3 {
  position: relative;
  width: 100%;
  padding: 10px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 20px;
  color: #fff;
  text-align: center;
  align-content: flex-end;
  background: #4d5050;
}

/* contact page */

#contact-form ul {
  margin-bottom: 20px;
}

#contact-form li {
  margin-bottom: 10px;
}

.col-md-6 {
   font-family: 'Handlee', cursive;
   font-size: 25px;
   margin: 20px;
}

label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
}

input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #ddd;
}

textarea {
  height: 200px;
}

input[type=submit] {
  padding: 10px 25px;
  font-size: 22px;
  color: rgb(59, 58, 58);
  cursor: pointer;
  background: #3adb83;
  border: 2px solid grey;
}

@media screen and (max-width: 980px) {
  body {
    background-color: grey;
  }

  .container {
    width: 100%;
    padding: 20px;
  }

  #masthead {
    width: 100%;
  }}

@media screen and (max-width: 768px) {
  body {
    background-color: grey;
  }

  .container {
    widows: 100%;
    padding: 20px;
  }

  #masthead {
    width: 100%;
  }}

  @media screen and (max-width: 640px) {
  body {
    background-color: grey;
  }

  .container {
    width: 100%;
    padding: 20px;
  }

  #masthead {
    widows: 100%;
  }}